[user]
	name = Mark Adams
	email = hyperspacemark@users.noreply.github.com
	signingkey = ~/.ssh/id_ed25519_signing.pub

[init]
	defaultBranch = main

[pull]
	rebase = true

[rebase]
	autoStash = true

[fetch]
	prune = true

[rerere]
	enabled = true

[help]
	autocorrect = 10

[core]
	editor = code --wait
	pager = delta
	excludesfile = ~/.gitignore_global

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true

[diff]
	algorithm = histogram

[merge]
	conflictstyle = zdiff3

[credential]
	helper =

[color]
	ui = auto
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed-signers
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
